@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url("burger-bg.jpg");
  justify-content: center;
  align-items: center;
}

.logo-img {
  display: inline-block;
  width: 270px;
}

.App {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  background: rgb(233,233,0);
  border-radius: 5px;
  box-sizing: border-box;
  -webkit-box-shadow: 1px -1px 36px 29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -1px 36px 29px rgba(0, 0, 0, 0.75);
  box-shadow: 1px -1px 36px 29px rgba(0, 0, 0, 0.75);
}

ul {
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

li div {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: rgb(43, 31, 95);
  font-weight: 700;
}

li:hover div {
  border-bottom: 1px solid rgba(43, 31, 95, 0.7);
}

li:focus div {
  border-bottom: 3px solid rgba(43, 31, 95, 0.7);
  text-decoration: none;
  color: rgb(26, 18, 58);
}

.title {
  display: inline-block;
  text-align: center;
  margin-left: 100px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 135px;
  font-family: "Leckerli One", cursive;
  font-size: 27px;
  letter-spacing: 1px;
  color: rgb(43, 31, 95);
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgb(233, 233, 0);
}

.menu-item {
  margin: 10px;
  padding: 5px;
  position: relative;
  width: 380px;
  font-family: "Montserrat";
  color: rgb(43, 31, 95);
}

.menu-item button {
  background-color: rgb(43, 31, 95);
  color: white;
  width: 100px;
  border: 0px solid;
  border-radius: 3px;
  margin-top: 10px;
  padding: 7px;
  cursor: pointer;
  font-family: "Montserrat";
}

.menu-item:active button{
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
   -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
   box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.img {
  width: 300px;
}

.menu-item div {
  margin: 10px;
  width: 300px;
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 30px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.menu-item:hover img {
  opacity: 0.7;
  cursor: pointer;
  filter: blur(4px);
  transition: 0.3 ease;
}

.menu-item:hover div {
  visibility: visible;
  opacity: 0.9;
  cursor: pointer;
}

.order {
  margin-top: 50px;
  font-family: "Montserrat";
  color: rgb(43, 31, 95);
}

.order-content {
  width: 800px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: rgb(43, 31, 95);
}

.add-remove {
  width: 20px;
  padding: 5px;
  margin: 2px;
  font-size: 17px;
  color: white;
  background-color: rgb(43, 31, 95);
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.add-remove:active{
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
   box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

.total {
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline-block;
  font-size: 20px;
  margin-left: 270px;
  width: 200px;
  font-family: "Montserrat";
}

.make-an-order {
  font-size: 20px;
  margin-bottom: 50px;
  color: white;
  background: rgb(43, 31, 95);
  padding: 12px;
  border: 0px;
  border-radius: 5px;
  font-family: "Montserrat";
  cursor: pointer;
}
